@import '../../colors.scss';
@import '../../fonts.scss';

.container {
  width: 384px;
  min-height: 374px;
  background-color: $white-color;
  border: 1px solid $grey-color;
  border-radius: 6px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  margin: 59px auto;

  .title {
    color: $title-color;
    font-weight: 600;
    @extend %p20;
    margin-bottom: 21px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: space-between;
    width: 100%;

    .errorSpan {
      margin-top: 2px;
      color: $red-color;
      @extend %p14;
    }

    .inputsContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-weight: 400;

      .inputGroup {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .label {
          @extend %p14;
        }

        .input {
          @extend %p16;
          color: $black-color;
          opacity: 0.75;
          border: 1px solid $grey-color;
          border-radius: 4px;
          padding: 8px 12px;
        }

        .inputError {
          border: 1px solid $red-color;
        }
      }
    }
    .checkboxContainer {
      display: flex;
      flex-direction: column;

      .checkboxGroup {
        display: flex;
        border-top: 1px solid $light-grey-color;
        padding-top: 8px;

        .checkbox {
          width: 16px;
          height: 16px;
          margin: 3px 8px 0 0;
          color: $blue-color;
        }

        .label {
          @extend %p14;
          color: $dark-grey-color;
        }
      }
    }
    .button {
      background-color: $blue-color;
      color: $white-color;
      border-radius: 4px;
      padding: 8px 16px;

      @extend %p16;
    }
  }

  .alreadyHaveAccount {
    text-align: center;
    color: $grey-02-color;
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;

    .link {
      color: $blue-color;
    }
  }
}
