@import '../../colors.scss';

.pagination {
  padding-bottom: 17px;

  :global {
    .ant-pagination-item {
      background-color: transparent;

      &:hover {
        background-color: $background-color;
      }

      &-active {
        background-color: $blue-color;
        border: none;
        &:hover {
          background-color: transparent;
          border: 1px solid $blue-color;
        }

        & a {
          color: $white-color;
        }
      }
    }
  }
}
