.pagination {
  padding-bottom: 17px;

  // Use :global to target Ant Design classes directly
  :global {
    .ant-pagination-item {
      background-color: transparent;

      &:hover {
        background-color: #e6f7ff;
      }

      &-active {
        background-color: #1890ff;
        border: none;
        &:hover {
          background-color: transparent;
          border: 1px solid #1890ff;
        }

        & a {
          color: white;
        }
      }
    }
  }
}
