@import '../../colors.scss';
@import '../../fonts.scss';

.articles {
  .article {
    background-color: $white-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 26px auto 20px auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 938px;

    .leftSide {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 50%;
      overflow: hidden;

      .titleLikes {
        display: flex;
        align-items: center;

        .title {
          color: $blue-color;
          @extend %p20;
          margin-right: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 100%;
          opacity: 1;
          transition: opacity 0.5s;
        }

        .heart {
          opacity: 0.75;
          margin-right: 3px;
          width: 16px;
          height: 14px;
        }

        .countLikes {
          @extend %p12;
          color: $black-color;
          opacity: 0.75;
        }
      }

      .tagList {
        display: flex;

        .tag {
          margin-right: 8px;
          border: solid 1px $black-color;
          opacity: 0.5;
          border-radius: 2px;
          font-size: 12px;
          line-height: auto;
          padding: 2px 5px 3px 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          opacity: 1;
          transition: opacity 0.5s;
        }
      }

      .description {
        @extend %p12;
        color: $black-color;
        opacity: 0.75;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }

    .rightSide {
      display: flex;
      gap: 12px;

      .containerForAuthorDate {
        .author {
          @extend %p18;
          color: $black-color;
          opacity: 0.85;
        }

        .date {
          @extend %p12;
          color: $black-color;
          opacity: 0.5;
        }
      }

      .photo {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
