@import '../../colors.scss';
@import '../../fonts.scss';

.container {
  max-width: 938px;
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 26px auto 20px auto;
  padding: 20px;

  .article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .leftSide {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .titleLikes {
        display: flex;
        align-items: center;

        .title {
          color: $blue-color;
          @extend %p20;
          margin-right: 13px;
        }

        .heart {
          margin-right: 3px;
          width: 16px;
          height: 14px;
        }

        .countLikes {
          @extend %p12;
          color: $black-color;
          opacity: 0.75;
        }
      }

      .tagList {
        display: flex;

        .tag {
          margin-right: 8px;
          border: solid 1px $black-color;
          opacity: 0.5;
          border-radius: 2px;
          font-size: 12px;
          line-height: auto;
          padding: 2px 5px 3px 5px;
        }
      }

      .description {
        @extend %p12;
        color: $black-color;
        opacity: 0.5;
      }
    }

    .rightSide {
      display: flex;
      gap: 12px;

      .containerForAuthorDate {
        .author {
          @extend %p18;
          color: $black-color;
          opacity: 0.85;
        }

        .date {
          @extend %p12;
          color: $black-color;
          opacity: 0.5;
        }
      }

      .photo {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .buttons{
      display: flex;
      gap: 12px;
      margin-top: 30px;

      
      .button{
        @extend %p14;
        border-radius: 5px;
        padding: 6px 17px 5px 17px;
        background-color: transparent;
      }

      .delete{
        color: $red-color;
        border: 1px solid $red-color;
      }

      .edit{
        color: $green-color;
        border: 1px solid $green-color;
        padding: 6px 19px 5px 19px;
      }
    }
  }
  .body {
    color: $black-color;
  }
}
