$white-color: #ffffff;
$black-color: #000000;
$green-color: #52c41a;

.header {
  background-color: $white-color;
  color: $black-color;
  font-size: 18px;
  line-height: 28px;

  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 22px 0 22px;

  & .ulHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    & .createArticle{
      font-size: 14px;
      line-height: 22px;
      color: $green-color;
      border: 1px solid $green-color;
      border-radius: 5px;
      padding: 6px 10px;
      margin-right: 27px;
    }

    & .profile{
      margin-right: 27px;
    }

    & .logOut{
      color: $black-color;
      border: solid 1px $black-color;
      border-radius: 5px;
      padding: 6px 18px 10px 18px;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }

    & .signIn {
      padding: 6px 25px 10px 0;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }

    & .signUp {
      color: $green-color;
      border: solid 1px $green-color;
      border-radius: 5px;
      padding: 6px 18px 10px 18px;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
