$white-color: #ffffff;
$black-color: #000000;
$green-color: #52c41a;

.header {
  background-color: $white-color;
  color: $black-color;
  font-size: 18px;
  line-height: 28px;

  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 22px 0 22px;

  & .ulHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    & .createArticle {
      font-size: 14px;
      line-height: 22px;
      color: $green-color;
      border: 1px solid $green-color;
      border-radius: 5px;
      padding: 6px 10px;
      margin-right: 27px;
    }

    & .profile {
      margin-right: 27px;

      & .profileLink {
        display: flex;
        align-items: center;

        & .username {
          font-size: 18px;
          line-height: 28px;
          color: $black-color;
          opacity: 0.85;
          margin-right: 13px;
        }

        & .photo {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    & .logOut {
      color: $black-color;
      border: solid 1px $black-color;
      border-radius: 5px;
      padding: 6px 18px 10px 18px;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }

    & .signIn {
      padding: 6px 6px 10px 0;
      margin-right: 19px;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }

    & .signUp {
      color: $green-color;
      border: solid 1px $green-color;
      border-radius: 5px;
      padding: 6px 18px 10px 18px;
      background-color: $white-color;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
