$white-color: #fff;
$black-color: #000;
$grey-color: #e5e5ea;
$grey-02-color: #8c8c8c;
$light-grey-color: #e8e8e8;
$dark-grey-color: #595959;
$title-color: #262626;
$input-color: #bfbfbf;
$blue-color: #1890ff;
$red-color: #f5222d;
$green-color: #52c41a;
$background-color: #e6f7ff;
